{% extends 'base.html' %}
{% block title %}Bosh sahifaaa{% endblock %}
{% block content %}
{% load static %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>BTR</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Inner Page</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">


        <img src="media/images/products/bmp.png" width="1024" height="728">
     <p>
      BMP-2 Simulyatori otuvchi va komandir  uchun otishni o'rganish uchun mo'ljallangan
o'q-dorilar va motor resurslarining sarflanishi  BMP-2 jangovar avtomobilining qurollanishidan
otish simulyatsiyasi (otish ovozi simulyatsiyasi) har xil paydo bo'lgan erning sharoitlari,
  va haqiqiy burchakli harakatlanuvchi nishonlarda   tezlik, maqsad aniqligini tahlil qilish
  natijalar.
<p> Simulyatorga  quyidagilar kiradi:
  <p>instruktorning ish joyi -1 o‘rin;
    <p>stajyorning ish joyi -  6 o'ringacha.
      <p> BMP-2 simulyatori quyidagilarni ta'minlaydi:
        <p>qurolchi-operatorlarni tayyorlash
          <p>BMP-2 qurol tizimini otish xarakatlarini o’rganish
            <p>BMP-2 jangovar holatda, maqsadlarni aniqlash va tanlash, aniqlab otish,
              <p>2A42 qurolidan kechayu kunduz sharoitlarida otish,
                <p>pulemyot KPVT va pulemyot PKT ustida joylashgan yerdagi nishonlar masofasi 4000 m gacha nishonlar va jangovar transport vositasining harakatlanishi;
                  <p>- cheklangan sharoitlarda otish mashg'ulotlarini ko'rinish;
                    <p>- jangavor  muhitga yaqinlashish;
                      <p>- radio tarmog'ida ishlash  (to'pchi-instruktor);
                        <p>-dastur rejimida maqsadlarni boshqarish;
                          <p>-jang davomida tinglovchilarning harakatlarini kuzatish o'zlariga yuklangan vazifalarni bajarish;
                            <p>- mashq natijalarini baholash;
                              <p>- mashg’ulotlar natijalarini xotirada saqlash ularni keyingi tahlil qilish imkoniyati;
                                <p>-darslar natijalarini printerga chiqarish;
                                  <p>-2A42 dan otishni o’rganish;
                                    <p>- KPVT pulemyotidan o'q otishni o’rganish;
                                      <p>- PKT pulemyotidan o'q otishni o’rganish;
                                        <p> - simulyatsiya qilingan otish masofasi 70 dan 4000 m gacha;
                                          <p>- olov tezligi, otish / min, 2 dan ko'p emas;
                                            <p>- vizual muhitga yaqin:
                                              <p>-kunduz, tun
                                                <p>- relyef variantlari soni 8 (yoz, qishki kun, tun);
                                                  <p>- ko'pburchak tasviri - relyef  tog'li cho'l;
                                                    <p>- maqsadli harakat tezligini simulyatsiya qilish;
                                                      <p>km/soat 0 dan 30 gacha;
                                                        <p>-belgilangan maqsadlar uchun: -joylashuvni belgilash;
                                                          <p>- paydo bo'lish va yo'qolish vaqtini belgilang.

      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}