{% extends 'base.html' %}
{% block title %}Bosh sahifaaa{% endblock %}
{% block content %}
{% load static %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Desantchilar trenajori</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
          <video width="1024" height="728" autoplay muted loop id="video">
              <source  src="media/images/products/desant.mp4" type="video/mp4">
          </video>
     <p><strong> TRENAJO’RNING MAQSADI.</strong>
      <p></p>1 .Desantchilami tayyorlash uchun to’liq funktsional (VR) virtual dinamik trenajo’r kompleksi texnik vosita bo‘lib, “Qanot”, “Gumbaz” tipidagi parashyut tizimlaridan foydalanayotgan parashyutchilami amaliy va nazariy tayyorlash uchun mo‘ljallangan.
      <p></p>2.	Desantchilami tayyorlash uchun to’liq funktsional (VR) virtual dinamik trenajo’r kompleksi desantchi samolyotdan ajralish paytdan boshlab berilgan nuqtaga qo‘ngunga qadar amaliy mashg‘ulotlami o‘tkazadi.
      <p></p>3.	Desantchilami tayyorlash uchun to’liq funktsional (VR) virtual dinamik trenajo’r kompleksi parashyutchini favqulodda vaziyatlarda - zaxira parashyutdan foydalangan holda harakatlarga tayyorlashni ta'minlashi kerak.
      <p></p>4.	Desantchilami tayyorlash uchun to’liq funktsional (VR) virtual dinamik trenajo’r kompleksi, to’liq funktsional bo'lishi kerak.
      <p></p>5.	Desantchilami tayyorlash uchun to’liq funktsional (VR) virtual dinamik trenajo’r kompleksi turli xil ob-havo sharoitlarini (quyoshli, tuman, yomg'ir, qor) (tog'lar, shahar, o'rmon, aerodrom) tanlash bilan haqiqiy dunyo sahnalarini qayta yaratishi kerak.
      <p></p>6.	Desantchilami tayyorlash uchun to’liq funktsional (VR) virtual dinamik trenajo’r kompleksi simulyatori dasturiy ta’minotida haqiqatga to’liq sho‘ng‘ish uchun MI-8 (MI-171) vertolyoti va AIRBUS CASA C-295 samolyotlarining real 3d modellari kabinalarini takrorlaydigan rampa va eshiklardan sakrashlar imkoniyati mavjud bo’lishi kerak.
      <p></p>7.	Desantchilami tayyorlash uchun to’liq funktsional (VR) virtual dinamik trenajo’r kompleksi quyidagilami o‘z ichiga olishi kerak:
      <p></p>-	virtual haqiqatni ta'minlash, real dunyoning 3 o'lchovli grafikasini yaratish vositalari.
      <p></p>-	havo oqimini yaratish vositalari, kamida ikkita .
      <p></p>-	ish muhiti 3 o'qda dinamik og'ishlami yaratishni ta'minlaydigan miqdorda siqilgan havo bilan ishlaydigan pnevmatik silindrlar.
      <p></p>-	ekranda ma'lumotlami ko'rsatish vositalari.
      <p></p>8.	Desantchi virtual balandlikni o’lcho’vchi pribor bilan ishlashda nazariy tajriba ham olishini ta’minlab berishi kerak
      <p></p>9.	Desantchilami tayyorlash uchun to’liq funktsional (VR) virtual dinamik trenajo’r kompleksi davlat tilida dasturiy ta’minotga ega bo’lishi kerak.
      <p></p>11.	Desantchilami tayyorlash uchun to’liq funktsional (VR) virtual dinamik trenajo’r kompleksi harakatlarini real vaqtda vizual ko’rish uchun diagonal i kamida 32 dyuym bo’lgan qo’shimcha monitor bilan jihozlangan bo’lishi kerak.
      <p></p>12.	Desantchilami tayyorlash uchun to’liq funktsional (VR) virtual dinamik trenajo’r kompleksi desantchi parvoz vaqtida olingan baholarini qog’ozga bosib chiqarish moslamasi bo’lishi kerak.
      <p></p>13.	Desantchilami tayyorlash uchun to’liq funktsional (VR) virtual dinamik trenajo’r kompleksi quyidagi mashqlami ishlab chiqishni ta'minlashi kerak:
      <p></p>-	Erkin pasayish.
      <p></p>-	har xil belgilangan balandlikdan sakrash;
      <p></p>-	asosiy parashyutning ochilishi;
      <p> -	ochilmagan taqdirda asosiy parashyutdan ajratish;
       
      
        <p>-	Zaxira parashyutining ochilishi.
          <p>-	parashyutlami boshqarish va manevr qilish;
            <p> -	Berilgan nuqtaga qo'nishni mashq qilish;
              <p>-	koldun bilan ishlash;
                <p>-	har xil ob-havo sharoitida (shamol, yomg'ir, qor) sakrash;
                  <p>-	turli hududlarda (shahar, o'rmon, tog'lar, aerodrom) sakrash;
                    <p>-	balandlikni o’lcho’vchi pribor bilan ishlash;
                      <p>-	o‘rganuvchi atrofidagi boshqa parashyutchilami kuzatishi va xarakatlari.
      

      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}