{% extends 'base.html' %}
{% block title %}Bosh sahifaaa{% endblock %}
{% block content %}
{% load static %}

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>DPM</h2>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Inner Page</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs -->

<section class="inner-page">
  <div class="container">



    <img src="media/images/products/dppm.jpg" width="700" height="728">
      <p>
      <P><strong> NISHONLARNI KO‘TARISH (TUSHIRISH) UCHUN MASOFADAN-BOSHQARILADIGAN MOSLAMALAR VZVOD TO‘PLAMI </strong>
      <P>	Nishonlar holati masofadan radioda boshqarilishi kerak. nishonlar holatini (joyda himoya predmetlarni yaratish bundan mustasno) yilning istalgan vaqtida qisqa muddatda (yaratilishini) ta'minlash kerak.
      <P>	Wplamga kiritilgan qurilmalarni transport vositalarida tashish uchun ularni qо‘shimcha qadoqlash kerak, shuningdek nishonlarni kc^ruvchi qurilmalarni bir yoki ikki kishi ЬО‘НЬ о‘rnatishga moslash kerak.
      <P>	Jihozning texnik qismi qurilmalarning ishlatilishida harakatchanligi va poligon komandalari kuchi bilan ta'mirlash ishlari olib borilishi uchun qulaylikni ta'minlashi kerak, shu sababli jihoz mamlakat bozorlarida mavjud Iwigan yarim tayyor qismlar (detal va uzellar)dan tashkil topgan ЬО‘НЗЫ kerak.
      <P>	Ushbu texnik topshiriq (talab)ga uni tasdiqlagan mansabdor shaxs ruxsati bilan sifat kо‘rsatkichlarining pasaymasligini hisobga olgan holda tegishli о‘zgartirishlar kiritilishi mumkin.
      <P>	TO‘PLAMNING TARKIBI VA MО‘LJALLANISHI
      <P>	Asosiy texnik vositalari:
      <P>-	G‘rtacha nishonlarni kG‘tarish (^‘rnatish) uchun moslamalar - 55 dona;
      <P>-	og‘ir nishonlarni kiVtarisli (о‘rnatish) uchun moslamalar - 9 dona;
      <P>-	boshqaruv uskunasi - 1 dona;
      <P>-	akkumulyator batareyasini zaryadlovchi qurilma - 1 to‘plam;
      <P>-	foydalanish (ekspluatatsiya) hujjatlari - 1 to‘plam.
      <P>	KG‘tarish moslamalari о‘rtacha va og‘ir nishonlarni kо‘tarishni va tushirishni ta'minlash kerak. Nishonga о^, snaryad tekkanda (mag‘lub bо‘lgan taqdirda) avtomatik tarzda pastga tushishi (nishon yiqilishi) va bloklanishi kerak. Kо‘tarish moslamalari guruh tarkibida bir xil ishlashni ta'minlashi lozim. Kо‘tarish moslamasi guruhni kо‘rsatish lozim bо‘lganda (nishonni) guruhni bir vaqtning о‘zida kiVtarishi yoki tushirishi kerak. Aynan shu paytda nishonga о^ yoki snaryad tekkanda u yiqilishi va qayta teTarganda kо‘tarilmasligi kerak, bu ^Tish bilan guruhdagi nishonlar yakson
      qilinganini baholash, maydondagi barcha guruhlarida urilgan nishonlar sonini aniqlash imkonini beradi. Ko‘tarish moslamalaridan nishon yakson qilingani (o‘q yoki snaryad tekkani) to‘g‘risida xabarni (signalni) boshqaruv pultiga berishi kerak. Shu bilan birga barcha nishonlarni ko‘tarish imkoniyati bo‘lishi kerak. O‘rnatmalarning elektr ta'minoti avtonom bo‘lishi kerak, o‘rnatiladigan batareyalar 5 kg dan og‘ir bo‘lmasligi va quvvatlash (zaryadlash) qobilyatiga ega bo‘lishi kerak.
      <P>	O‘rtacha nishonlarni ko‘tarish moslamalari (o‘rnatmalari)ning tarkibi qo‘yidagilardan iborat:
      <P>-	inersiyaga javob berish sensori - 1 dona;
      <P>-	uchib borib nishonga tekkan o‘qni bildirish sensori (nishon uchun elektr o‘tkazuvchi qoplama material)
      <P>-	1 dona;
      <P>-	olovli simulyatsiya (chirog‘i) qilish tizimi (avtomat va pushkali yonish (chaqnash) - 1 dona;
      <P>-	moslamani yerga o‘rnatish uchun qoziqlar;
      <P>-	mobil qadoqlash yog‘och idishi (tarasi).
      <P>Nishonlarni ko‘tarish moslamalarining normal ishlashini ta'minlash uchun to‘plamga zarur qo‘shimcha qurilmalar kiritishga ruxsat beriladi. Shu bilan birga, uskunaning umumiy og‘irligi o‘rnatilganligini hisobga olgan holda, o‘rashsiz (mobil qadoqlash yog‘och idishisiz) 15 kg dan oshmasligi kerak.
      <P>Asosiy texnik tavsiflari:
      <P>-	nishonni ko‘tarish og‘irligi - 10 kg gacha;
      <P>-	masofadan boshqaruv - o‘rnatmasi (1000 m dan kam bo‘lmagan) va maxalliy;
      <P>-	nishonni ko‘tarish yoki tushirish vaqti 8 soniyadan kam bo‘lmasligi kerak;
      <P>-	imitatsiya olovi yonish chastotasi 3-5 Gs.;
      <P>-	olovli yonish bildirish chirog‘i orasidagi uzilish (pauza) 4-6 soniya;
      <P>-	imitatsiya vaqti 3-5 soniY.
      <P>	Og‘ir ko‘tarish moslamalarini o‘rnatish uchun to‘plam;
      <P>-	inersiyaga javob berish sensori - 1 dona;
      <P>-	uchib borib nishonga tekkan o‘qni bildirish sensori (nishon uchun elektr o‘tkazuvchi qoplama material)
      <P>-	1 dona;
      <P>-	olovli simulyatsiya (chirog‘i) qilish tizimi (avtomat va pushkali yonish (chaqnash) - 1 dona;
      <P>-	moslamani yerga o‘rnatish uchun qoziqlar;
      <P>-	mobil qadoqlash yog‘och idishi (tarasi).
      <P>Nishonlarni ko‘tarish moslamalarining normal ishlashini ta'minlash uchun to‘plamga zarur qo‘shimcha qurilmalar kiritishga ruxsat beriladi. Shu bilan birga, uskunaning umumiy og‘irligi o‘rnatilganligini hisobga olgan holda, o‘rashsiz (mobil qadoqlash yog‘och idishisiz) 40 kg dan oshmasligi kerak.
      <P>Asosiy texnik tavsiflari:
      <P>-	nishonni ko‘tarish og‘irligi - 60 kg gacha;
      <P>-	masofadan boshqaruv - o‘rnatmasi (1500 m dan kam bo‘lmagan) va maxalliy;
      <P>-	nishonni ko‘tarish yoki tushirish vaqti 10 soniyadan kam bo‘lmasligi kerak;
      <P>-	imitatsiya olovi yonish chastotasi 3-5 Gs.;
      <P>-	olovli yonish bildirish chirog‘i orasidagi uzilish (pauza) 4-6 soniya;
      <P>-	imitatsiya vaqti 2-3 soniy.
      <P>	Boshqaruv uskunasi nishon ko‘tarish (tushirish) uskunalarini radio orqali (masofadan) boshqarish uchun mo‘ljallangan. U ham joydan ham transportda harakat davomida boshqarishga qodir bo‘lishi kerak.
      <P>Dastur vaqtni sozlash va k o‘tarish (tushirish) tartibini, standart o‘quv va nazorat mashqlarini va nostandart mashqlarni bajarishni ta'minlashi kerak. U qo‘yidagi buyruqlarni (komandalarni) qabul qilish va berishi kerak:
      <P>-	nishonni ko‘tarish;
      <P>-	nishonni tushirish;
      <P>-	nishonga o‘q tekkani (nishon zabt qilingani);
      <P>-	batareyaning zaryadlangan holatini.
      <P>Boshqaruv uskunasining (apparatining) ishlash tartibi (prinsipi) shundan iboratki, operator har bir nishonga (ko‘taruvchi (tushiruvchi) uskunaga) alohida ko‘tarilish va tushish vaqtini belgilaydi, ma'lumotlarni mashq ketma-ketligi singari saqlaydi.Buyruqlar (komandalar) mashqlarga dastur tomonidan ishlov beriladi va radiokanal orqali nishonni ko‘tarish uskunasiga uzatiladi. Nishonga o‘q (snaryad) tekkanda (nishon yakson qilinganda) sensori yonadi, nishon tushadi (yiqiladi), ma'lumot

      (mag‘lubiyat) signalini radio orqali uzatadi, dastur ma'lumotni (mag‘lubiyatni) va o‘q (snaryad) tekkan (yakson qilingan) ko‘tarish uskunasidagi nishon raqamini qayd etadi.
      <P>	Boshqaruv uskunasi masofadan buyruqlarni (komandalarni) qabul qilish va uzatish uchun radiosignallari va boshqa harbiy radiostansiyalar yonida bir vaqtning o‘zida ishlatilganda ishonchi ishlashi kerak.
      <P>Boshqaruv uskunasi to‘plamining tarkibi:
      <P>-	Noutbuk (yetkazib beruvchining shartlariga muvofiqligi) - 1 ta;
      <P>-	Ko‘tarish (tushirish) uskunasiga masofadan buyruqlarni (komandalarni) uzatish tizimi (yetkazib beruvchining shartlariga muvofiqligi) - 1 ta.
      <P>	Batareya quvvatlovchi (zaryadlovchi) qurilma (yetkazib beruvchining shartlariga muvofiqligi) bir vaqtning o‘zida 220V+/-10V tarmoqdagi 20 ta dan ortiq birlikni quvvatlash (zaryad qilish) kerak.

  </div>
</section>

{% endblock %}