{% extends 'base.html' %}
{% block title %}Bosh sahifaaa{% endblock %}
{% block content %}
{% load static %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Interaktiv o'q otish tiri.</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <p><strong> INTERAKTIV UNIVERSAL O'Q OTISH TIRI</strong></p>
<!--        <video autoplay muted loop class="int-tir-vid">-->
<!--          <source src="media/videos/kirish.mp4" type="video/mp4">-->
<!--        </video>-->
        <img  src="media/images/products/int_tir.jpg"  height="728" width="1024">
    <p> 
      <strong>TAVSIF </strong><p>
Majmua 25-100 metrli jangovar poligonning 100 metrli galereyasida joylashgan. Zirhli mobil konteynerga o'rnatish mumkin.
Ishlash tartibi - eskirishga chidamli kauchukdan yasalgan yuqoriga va pastga yoki statsionar ekranga proyeksiyalangan nishonlarga va video filmlarga otish.
Jarayonlarni avtomatlashtirish -
Fon-maqsadli muhitni shakllantirish
Kadrni ro'yxatdan o'tkazish va ko'rsatish
Baholash va baholash ko'rsatkichlarini chiqarish
Sekin harakatda o’q uzish natijalarini batafsil tahlil qilish
Rasmga tushirish va natijalarni hujjatlashtirish
Teshiklarni joylashishining kontaktsiz usuli har qanday turdagi kichik qurollar yordamida bir vaqtning o'zida bir necha yo'nalishda o'q otish imkonini beradi.
Buyurtmachining o'q otish qurollari - jangovar, xizmat, ov, travmatik, sport, pnevmatik, sovutilgan.
Lazer qurollar va lazerli otishmalarni o'rganish(nosadkalar)dan foydalanish imkoniyati (buyurtmachi bilan kelishilgan holda).
Otishmaga bardoshli ekran - kengligi 3 dan 5 metrgacha bo'lgan loyiha uchun ekran o'lchamini individual tanlash
Har bir otuvchi tomonidan mustaqil ravishda bitta ekranda oltita otish yoʻnalishi.

Otish liniyalari -  polygon galereyasi doirasida 5 dan 100 metrgacha

2000 dan ortiq oldindan tayyorlangan mashqlar. Barcha otishma kurslari. taktik mashqlar. Videolar (mijoz bilan kelishilgan holda).

Huquqni muhofaza qilish organlarining otish kurslariga muvofiq, har qanday murakkablik darajasida otish mashqlarini modellashtirish.

Otishmaning biometrik identifikatsiya tizimi (buyurtmachi bilan kelishilgan holda).

Portativ masofadan boshqarish pulti bilan tortishish masofasini boshqarish.

Yig’ish, o'rnatish va kompleks bilan ishlashni o'rgatish bizning INTELLECTUAL SOFTWARE kompaniyamiz mutaxassislari tomonidan amalga oshiriladi

<p><strong> XUSUSIYATLARI.</strong>
<p>Ishlash printsipi - termal tasvir
Otish yo'nalishlari soni - 6 tagacha
Otish quroli *
<p>Xitni ro'yxatga olishning aniqligi - 2 mm</p>
<p>Ro'yxatga olingan otish tezligi - minutiga 1000 o'q</p>
<p>Eskirishga bardoshli kauchuk ekran - kengligi 3 dan 5 m gacha **
  <p>Ekranning chidamliligi - 12 oygacha ***
    <p>Otishma chizig'ining minimal masofasi 5 m
      <p>Otish chizig'ining maksimal masofasi 100 m
        <p>Ishlash harorati diapazoni — +5...+35 °S
          <p>Video proyektor o'lchamlari - 1920x1200 piksel
            <p>Yorug'lik oqimi - 3500 dan 5000 lm gacha

Murakkabligi
Koordinatalarni aniqlash tizimi (SOC)
<p>Multimedia proyektor
Prognozlangan nishonga olish uchun dasturiy ta'minot
Eskirishga bardoshli kauchuk ekran *
<p>Otishmaning biometrik identifikatsiya tizimi **</p>
<p>Lazer otishni o'rganish simulyatorlari ***</p>
<p></p>Avtomatlashtirilgan operator joyi (ARM operatori)
<p></p><strong>Avtomatlashtirilgan instruktor joyi (APM instruktor)</strong>
<p>Eskirishga bardoshli kauchukdan tayyorlangan ekran loyiha uchun alohida tanlanadi, u ko'tarilishi-tushirilishi yoki kengligi 3 dan 5 metrgacha bo'lgan statsionar bo'lishi mumkin.

  <p>Biometrik tizim Buyurtmachi bilan kelishilgan holda yetkazib beriladi

    <p>Lazer qurollari yoki lazer otish moslamalari Buyurtmachi bilan kelishilgan holda beriladi

      <p>Buyurtmachining har qanday o'qotar qurolidan bitta yoki avtomatik o'q otish, otish yo'nalishlari soni - 6 tagacha

        <p>APM apertor - tizim bloki, monitor, klaviatura, sichqoncha, printer, akustika, uzluksiz quvvat manbai

          <p>APM instruktor - otish chizig'i displeyi, masofadan boshqarish pulti, klaviatura, sichqoncha



            
      
      </p>  
    </div>

    </section>

  </main><!-- End #main -->

{% endblock %}