{% extends 'base.html' %}
{% block title %}Bosh sahifaaa{% endblock %}
{% block content %}
{% load static %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Panarama</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">

        <img  src="media/images/products/panaram.png"  height="728" width="1024">

        <p>Ekranga proyeksiya qilingan statsionar, paydo bo'ladigan, harakatlanuvchi nishonlarga o'q otish uchun 2 ta otishma uchun lazerli o'q otish masofasi.
        <p>TIR “Jangavor tayyorgarlik ” mashg'ulotlarida foydalanish uchun mo‘ljallangan.

        <p>"Intellectual software" MCHJ lazerli kamerasi
        <p>"Intellectual software" MCHJ dasturiy ta'minot
        <p>Makarov lazerli to'pponcha
        <p>Kalashnikov lazerli avtomati
        <p>SVD snayperi
        <p>RPK pulemyoti va istalgan qurollarga integratsiya qo'shish mumkin.

        <p><strong>TAVSIF.</strong>
        <p>Laser tiridan asosiy harbiy tayyorgarlik  uchun quyidagilar qo'llaniladi:
        <p>Davlat Xavfsizlik xizmati</p>

        <p>Mudofaa vazirligi </p>
        <p>Milliy Gvardiya </p>
        <p>Chegara qo'shinlari </p>
        <p>Ichki Ishlar Vazirligi </p>
        <p>Temurbeklar maktablari </p>
        <p>harbiy-vatanparvarlik markazlari </p>
        <p><strong>Tir qanday ishlaydi?</strong></p>

        <p></p>Video proyeksiya uskunalari ekranda istalgan mashg'ulotlarni  hosil qiladi.
        Xarbiy xizmatchilar prognoz qilingan nishonlarga lazer qurollaridan o'q otadi
        Rasmga tushirish vaqtida kamera ekrandagi qizil nuqtani o'qiydi va koordinatalarni kompyuterga uzatadi.
        Rasmga tushirish natijalari ekranda ko'rsatiladi
        Natijalar avtomatik ravishda o'rnatiladi va ma'lumotlar bazasiga yozib boriladi.

        <p><strong>  Uskunaning imkoniyatlari </strong></p>
        <p>Bir vaqtning o'zida sakkiztagacha xarbiy xizmatchilarni tayyrolaydi</p>
        <p>Maqsadli traektoriyani tahlil qilish </p>
        <p>Otish masofasi 5 daqiqada ochiladi</p>
        <p>Avtomatik uskunani kalibrlash</p>
        <p>Har tomonga qurol otish</p>
        <p>Har bir otuvchi uchun natijalarni ro'yxatdan o'tkazish va ko'rsatish</p>
        <p>Avtomatik ball va baholash</p>
        <p>Har bir otuvchi uchun otishmaning batafsil tahlili</p>
        <p>Otish jarayonining ovozli hamrohligi</p>
        <p>Otish natijalarini saqlash va chop etish</p>

        <p><strong>Xususiyatlari.</strong> </p>
        <p>Otishmachilar soni -8 tagacha </p>
        <p>Nishonlar - prognoz qilingan: statsionar, paydo bo'ladigan, harakatlanuvchi</p>
        <p>Ekran - 3 x 4 m </p>
        <p>Qurollar - Makarov to'pponchasi, Kalashnikov avtomati istalgan qurollarni qo'shish mumkin</p>
        <p>Uskuna - Simsiz</p>
        <p>Turar joy - bino ichida, sinf xonasi</p>
        <p>Otishma maydonini tayyorlash vaqti - 5 min</p>
        <p>Xitni ro'yxatga olishning aniqligi - 2 mm</p>
        <p>Otish masofasi - 3 dan 25 m gacha</p>
        <p>Otish masofasini simulyatsiya qilish - PM uchun 50 m gacha, AK uchun 500 m gacha</p>
        <p>Otish holati - tik turish, o'tirish, yotish, harakat qilish</p>
        <p>Intuitiv interfeys</p>
        <p>To'liq xavfsizlik</p>
        <p>Sertifikatlangan uskunalar</p>

        <p><strong>Afzalliklar.</strong> </p>

        <p>Sarf materiallari: o'qlar va nishonlar</p>
        <p>Otishdan keyin xonani o'q va qoldiqlardan tozalash</p>
        <p>Qurolni parvarish qilish: tozalash, ta'mirlash va tekislash</p>
        <p>Qurollarni seyfda saqlash</p>
        <p>Qurolga texnik xizmat ko'rsatish bo'yicha mutaxassis</p>
        <p>Ishonchlilik va xavfsizlik</p>

        <p>Lazer qurollari - xarbiy xizmatchilarning o'q bilan tasodifiy jarohatlanishini bartaraf qiladi </p>
        <p>Simsiz uskunalar - simlarning uzilishi va uskunaning buzilishini bartaraf qiladi </p>
        <p>Lazer qurollari ta'lim muassasalarida foydalanish uchun sertifikatlangan </p>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}