{% extends 'base.html' %}
{% block title %}Bosh sahifaaa{% endblock %}
{% block content %}
{% load static %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

          <h2>PZRK</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <img  src="{% static 'media/images/products/PZRK.png'%}"  height="728" width="1024">

        <p><p> <strong>TRENAJYOR IMKONIYATLARI</strong>

        <p><strong> INTERFEYS</strong></p>

        <P>Kartani tanlash	 - Shahar, Afg'oniston, Daryo, Ko'l
        <P>Nishonlarni tanlash - 9 xil nishonardan tanlash </P>
        <P> Nishonlar sonini kiritish - Har bitta nishondan keragicha tanlash</P>
        <P> Nishonlar yo'nalishini tanlash	- O't ochuvchiga qarama-qarshi yoki teskari</P>
        <P> Ob-xavo sharoitini tanlash -	Ochiq, yomg'irli, qorli, tumanli ob-xavo sharoitlari</P>
        <P> Kun vaqtini tanlash - 	Kecha va kunduz sharoitlari</P>
        <p> Nishonlarni uchish balandligini kiritish -	Nishonlar ko'rsatilgan balandlikda uchib o'tadi</p>

        <p> Mashg'ulot bajaruvchi ma'lumotlarini kiritish - 	Ism sharifi va kursini kiritgandan so'ng mashg'ulot bajariladi</p>
        <P>
         <strong> Mashg'ulotni bajarish</strong>

        </P>
        <P>Kuzatuv	 - Tanlangan sharoitlarda 360 gradusli muhitda atrof muxitni kuzatish va nishonni aniqlash. </P>
        <p> Yer manbani ishlash vaqti - 	Yer manba ulangach sekundomer ishga tushadi va 40 sekunddan ortiq vaqtdan keyin raketa uchmaydi.</p>

        <p> Nishonni aniqlash -	Raketa stvoldan chiqishdan oldin 26 gradus burchak ostidagi nishonlarni aniqlaydi. Agar nishon 26 gradus burchak ostida bo'lmasa raketa uchmaydi.</p>
        <p> Nishonni quvish	 - Raketa stvoldan uchib chiqishi bilan 38 gradus burchak ostidagi nishonni quvadi. </p>
        <p> Baxolash - 	Kursant harakatlari mashg'ulotni bajarish vaqti, nishonni yo'q qilinishiga qarab baxolanadi. </p>
        <p> <strong>NATIJALARNI BAZAGA YOZISH</strong> </p>
        <P>Foydalanuvchi ma'lumotlari	 - Ism, sharifi, kursi, baxosi </P>
        <P> Mashg'ulot natijalari	 - Mashg'ulot bajarilgan muddat, olingan natija.</P>
        <P> Bazadan ma'lumot izlash -	Biror kursantning barcha natijalarini izlash, biror oraliqdagi barcha mashg'ulotlar haqida ma'lumotlarni izlash.</P>
        <P> Bazani eksport qilish -	Bazadagi ma'lumotlarni excel muxarririga o'tkazib saqlash yoki chop qilish mumkin.</P>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}