{% extends 'base.html' %}
{% block title %}Bosh sahifaaa{% endblock %}
{% block content %}
{% load static %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Virtual Reality</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        
          <img  src="media/images/products/anti.jpg"  height="728" width="1024">
          <p>
      <p><strong> VIRTUAL O'Q OTISH SIMULYATORI</strong>
     <p>Virtual o'q otish simulyatori dastlabki otish mashg'ulotlari, o'q-dorilarni sarflamasdan otish va maxsus bo'linmalar xodimlari tomonidan jangovar mashg'ulotlar uchun mo'ljallangan. Mashg'ulotlar o'q-dorilarni iste'mol qilmasdan, ekrandagi tashqi taktik vaziyatni taqlid qilgan holda o'tkaziladi.
Maqsad:
<p>Yaqin jangni taqlid qilish uchun virtual taktik simulyator - bu cheklangan o'lchamdagi xonada (10 x 10 m.) taktik o'yinlar va mashg'ulotlar o'tkazish uchun uskunalar to'plami.

<p>Turi: VR texnologiyasi, simsiz, turli xil er sharoitida soyasiz tortishish simulyatori.

<p>Qo‘llash sohasi: O‘zbekiston Respublikasi bo‘linmalari va bo‘linmalari hamda maxsus operatsiyalar kuchlari bo‘linmalari, shuningdek, qo‘shma qurolli bo‘linmalar uchun.

<p>Simulyatorning xususiyatlari:
<p>Kengaytirilgan reallik tizimi (VR texnologiyalari) yordamida shahar muhitida (kichik ko'chalar, ko'p qavatli binolar va alohida binolar) yaqin jangni virtual simulyatsiya qilish;
AK-74 va PM kabi sovutilgan qurollardan, ularga o'rnatilgan uskunalardan foydalanish (infraqizil emitrlar, otishmalarning orqaga qaytishini taqlid qiluvchi qurilmalar va boshqalar);
- stajyor to'plamining harakatchanligi va avtonomligi (orqasidagi sumkada katta quvvatga ega batareyalar, simsiz qurilmalar, tizzada teginish datchiklari, tirsaklar, qo'lqoplar, dubulg'a va yelek);
otish paytida zarbalarni aniqlash;
sug'urta (tugma) ni almashtirish orqali bitta va avtomatik yong'inni o'tkazish qobiliyati;
virtual o'limda stajyorning quroli o'chiriladi va boshqa stajyorlarni urishga ruxsat bermaydi;
tizim jangovar statistikani real vaqtda to'plashi va ko'rsatishi kerak.
tizim real vaqtda 1-4 simulyatsiya ishtirokchilarining bir vaqtning o'zida harakatlarini qo'llab-quvvatlashi va virtual muhitda bir-biri bilan o'zaro ta'sir o'tkazishga imkon berishi kerak.
- stajyorlarning harakatini kuzatish uchun shiftdagi va devorlardagi harakat sensorlari.
- o'qituvchi konsoli virtual muhitni aks ettiruvchi ekran, shuningdek simulyatsiya parametrlarini faollashtirish, o'chirish va sozlash paneli bilan jihozlangan bo'lishi kerak.
Virtual arena uchun strukturaning o'lchami quyidagi o'lchamlardan oshmasligi kerak:
kengligi - 10 metrgacha
uzunligi - 10 metrgacha
balandligi - 5 m gacha.


<p><strong>MAQSAD VA QO'LLANISHI.
</strong> 
<p> Ushbu texnik topshiriq o'qsiz otishni o'rgatish va ekranda paydo bo'ladigan va harakatlanadigan turli birliklarga xos bo'lgan nishonlar va virtual nishonlardan foydalangan holda o'q otish ko'nikmalarini yaxshilash uchun mo'ljallangan virtual otish simulyatoriga qo'yiladigan talablarni belgilaydi. Bunday holda, quyidagi turdagi qurollardan foydalanish mumkin:

  <p>- AK-74;
    <p>- to'pponcha PM;

<p> IMTIYOZLAR

  <p>Oddiy otishni o'rganishdan virtual otish simulyatorida o'qitishning asosiy afzalliklari:

    <p>• Simulyator sizga ko‘plab stsenariylarni ishlab chiqish, mahoratingizni sinab ko‘rish, VR-ga maksimal darajada singib ketgan holda qo‘shma harbiy operatsiyalarni o‘tkazish buyrug‘ini olish imkonini beradi.
      <p>• Iqtisodiy samaradorlik: o'q-dorilar, avtomobil resurslari, yoqilg'i-moylash materiallari, qurol-yarog' resurslari, nishonlarning etishmasligi;
        <p>• O'z harakatlaringizni nazorat qilish va tahlil qilish;
          <p>• Xarbiylar uchun xavfsizlik - jarohat olish ehtimoli yo'q;
            <p>• turli bo'linmalarga xos bo'lgan vazifalarni bajarishda yuzaga keladigan, dushmanni belgilash guruhini tayyorlash kerak bo'lmaganda yuzaga keladigan real vaziyatga tezkor kirish - kompyuter grafikasi, maxsus effektlar va oldindan tayyorlangan materiallar davom etayotgan voqealar haqiqati tuyg'usini yaratadi;
              <p>• Har qanday o'yin epizodini chizish jarayonida xodimlar diqqatni, fikrlash tezligini, reaktsiyani rivojlantiradi, o't otish tezligining sifati yaxshilanadi;
                <p>• Oddiy otishmalardan farqli o'laroq, dushman stajyorga ekrandan ham o'q uzishi mumkin, shuning uchun simulyatorda voqelik yanada realroq ko'rsatiladi, jangovardan deyarli farq qilmaydigan sharoitlar yaratiladi;
                  <p>• “O‘lim” tahdidi ostida jang o‘tkazishda tinglovchilarning psixoemotsional holati kuchayadi va his-tuyg‘ulari og‘irlashadi, xato qilish huquqini istisno qilishga majbur qiladi;
                    <p>• Otishmani boshqarish shart emas (kordon, shifokorlar va boshqalar);



                      <p>Qurol simulyatorlari quyidagi parametrlarda asl nusxaga mos keladi:
                        <p>- Og'irligi va hajmi;
                          <p>- maqsad va o'zgartirishlar kiritish sxemasi;
                            <p>- Trigger mexanizmining sxemasi.




                              <p>Virtual otishni o'rganish simulyatorida mashg'ulotlar yakka tartibda va guruhning bir qismi sifatida o'tkazilishi mumkin.



 
                                <p><strong> TEXNIK TALABLAR.</strong>

                                  <p> Kompozitsiya virtual tortishish simulyatori.


                                    <p>Kompleksning apparat qismi quyidagi elementlardan iborat:
                                      <p>- Kat Walk Premium (to'plam)
                                        <p>- o'quv quroli (pulemyot, to'pponcha);
                                          <p>- shikastlangan datchiklar va signal uzatish moslamalari bo'lgan dubulg'a;
                                            <p>- virtual reallik VR ko'zoynaklari;
                                              <p>- virtual muhitni ko'rsatadigan ko'p ekranli o'qituvchi konsoli, shuningdek, panel
                                                <p>faollashtirish, o'chirish
      </div>
    </section>

  </main><!-- End #main -->


{% endblock %}